:root {
    --font-size-l: 14pt;
    --font-size-xl: 60pt;
    --font-size-s: 12pt;
    --line-height1: 20pt;
    --yellow-full: rgb(255, 99, 239);
    --white-full: rgb(255, 255, 255);
    --black-full: rgb(0, 0, 0);
}

* {
  box-sizing: border-box;
}


@font-face {
  font-family: Dots;
  src: url(media/TINY5x3-160.otf);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial Narrow", Arial, sans-serif;
  max-width: 100vw;
  background-color: var(--white-full);


  background-repeat: repeat;
  background-attachment: fixed;
}

.background0{
  background-image: linear-gradient();
}

.background1{
  background-image: url(media/background.png);
}

.background2{
  background-image: url(media/background2.png);
}

.background3{
  background-image: url(media/background3.png);
}

.background4{
  background-image: url(media/background4.png);
}

.background5{
  background-image: url(media/background5.png);
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

::-webkit-scrollbar {
    display: none;
}


.footer {
  width: 100vw;
  height: 250px;
  background-color: var(--white-full);
  border-top: 1pt solid var(--black-full);
  margin-top: 30px;
  position: relative;
}

.bottomtext{
  color: var(--black-full);
  text-transform: uppercase;
  font-size: var(--font-size-xl);
  font-family: Dots, sans-serif;
  line-height: 50%;
  text-align: center;
  margin:auto;


}

.header{
  width: 100%;
  height: 260px;
  margin-bottom: 10px;
/*  background-color: var(--white-full);*/
/*  border-bottom: 1pt solid var(--black-full);*/
}

.headertext {
  font-size: var(--font-size-l);
  vertical-align: text-top;
  width: 25%;
  max-width: 25%;
  padding: 0px;
  display: inline-block;
  border-bottom-style: solid;
  border-width: 1pt;
  border-color: var(--black-full);
}

.image{
  width:100%;

  margin-right: -1pt;
  vertical-align: left;
  border:1pt solid var(--black-full);
  background-color: var(--black-full);
  display: block;
}

.pop-up{
display:none;
}

.pop-up-gone{
	position:  fixed;
  top: 0px;
  overflow: scroll;
  width: 50%;
  height: 100vh;
  right: 0px;
  z-index: 4;
  background-color: var(--black-full);
  border-left-style: solid;
  border-color: var(--black-full);
  border-width: 1pt;
  /*scroll-behavior: smooth;*/


}

.topsmall{
  position:fixed;
  width: 50%;
  height: 40px;
  font-size: var(--font-size-l);
  z-index: 2;
}

.topleft{
  z-index: 4;
  top: 0px;
  position:fixed;
  vertical-align: right;
  margin-top: 2px;
  margin-left: 15px;
}

.topright{
  z-index: 4;
  position:fixed;
  vertical-align: right;
  top: 0px;
  right:0px;
  width: auto;
  margin-top: 2px;
  margin-right: 15px;
  text-align: right;
}

.toptext > a{
  color: var(--white-full);
  text-transform: uppercase;
  font-size: var(--font-size-xl);
  font-family: Dots, sans-serif;
  line-height: 50%;;

  -webkit-text-stroke-width: 1pt;
  -webkit-text-stroke-color: var(--black-full);
  -webkit-text-fill-color: var(--white-full);
}

.toptext:hover > a{
  -webkit-text-stroke-color: var(--black-full);
  -webkit-text-fill-color: var(--yellow-full);
  text-shadow: 5px 5px 0px var(--black-full);
}

.toptext > a:active{
-webkit-text-fill-color: var(--black-full);
}

#click > a{
  content: 'Mika';
}

#settings{

}

.topundergone{
  display: none;
}

.topunder{
  background-color: var(--white-full);
  border: 1pt solid var(--black-full);
  border-radius: 15px;
  display: block;
  font-family: Dots, sans-serif;
 position:fixed;
 top: 145px;
 padding: 40px;
 margin-left: 15px;
 width: 48.5%;
 height: 260px;
 z-index: 5;

 box-shadow: 2pt 2pt 0px var(--black-full);
 -moz-box-shadow: 2pt 2pt 0px var(--black-full);
 -webkit-box-shadow: 2pt 2pt 0px var(--black-full);
}

.topundertext{
  width: 300px;
  margin-left: 15px;
  font-size: var(--font-size-l);
  background-color: var(--white-full);
  border-bottom: 1pt solid var(--black-full);

}
/*
.topunder:hover{
  position: fixed;
  z-index: 2;
}

.top:hover + .topunder{
  position: fixed;
  z-index: 2;

}
*/


#chaos{
  color: var(--black-full);
  background-color: var(--white-full);
  border: 1pt solid var(--black-full);
  padding: 10px;
  height: 210px;
  display: inline-block;
  width:auto;

}

#sticker{
  color: var(--black-full);
  background-color: var(--white-full);
  border: 1pt solid var(--black-full);
  padding: 10px;

  width:auto;
}

#clean{
  color: var(--black-full);
  background-color: var(--white-full);
  border: 1pt solid var(--black-full);
  padding: 10px;

  width:200px;
}

#small{

  color: var(--black-full);
  background-color: var(--white-full);
  border: 1pt solid var(--black-full);
  padding: 10px;

  width:auto;
  left: 50%;
}

#black{

  margin-top: 35px;
  transform: rotate(-180deg);
  transform-origin: center;
}

#white{


}

#red{


}

#yellow{


}

#green{

}

#grey{
  transform: rotate(-10deg);
  transform-origin: top right;
}

.colorbox{

}

.crayon{
  height: 210px;
  width: auto;
  float:left;
}

.colorbutton{
  display: inline-block;
  float:left;
  margin-top: 5px ;
  margin-left: 10px;
  width: auto;
  height: 180px;
  color: var(--black-full);
  display: inline;
  transition: 0.5s;
}

.colorbutton:hover{
  margin-top: -10px;
}

#black:hover{
  margin-top: 25px;
}

.colorblock{
  position:fixed;
  width: 45px;
  background-color: var(--white-full);
  border:1pt solid var(--black-full);
  margin: auto;
  padding: 7px;
  z-index: 2;
}

.colorblocktext{
  color: var(--black-full);
  border-bottom: 1pt solid var(--black-full);
  width: 500px;
  margin: -8px;
  padding: 10px;
  font-size: var(--font-size-l);
  height: 45px;
  cursor: move;
}

.project{
  display:  inline-block;
}

.text{
  width: 100%;
 color: var(--white-full)
}

.text > h1{
  margin-left: 10px;
  margin-top: 12px;
  text-transform: uppercase;
  font-size: 44pt;
  font-family: "Arial Narrow", Arial, sans-serif;
  line-height: 110%;;

  -webkit-text-stroke-width: 0.5pt;
  -webkit-text-stroke-color: var(--white-full);
  -webkit-text-fill-color: var(--black-full);
}

.projectimage{
  position: inherit;
  width:100%;
  height:auto;
  float: left;
  padding: 1pt
}

.projectimagehalf{
  position: inherit;
  width:49.9%;
  height:auto;
  float: left;
  padding: 1pt
}







.cross{
  position:absolute;
  top: 5px;
  right:5px;
  height: 30px;
  width: 30px;
  /*background-color: var(--white-full);
  border:1pt solid var(--black-full);*/
  z-index: 5;
  /*transition: 0.5s;*/
}

.plus{
  background: var(--white-full);
  height: 30px;
  position: relative;
  width: 1.5px;
  margin:auto;
  margin-top: -1pt;
}

.plus:after {
  background: var(--white-full);
  content: "";
  height: 1.5px;
  left: -14px;
  position: absolute;
  top: 14px;
  width: 29px;
}

.cross:hover > .plus{
  transform: rotate(45deg);
  /*transition: 0.5s;*/

}

.cross:hover > .plus:after{
  height: 2px;

}

.cross-reverse{
  position:absolute;
  top: 7px;
  right:7px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: var(--white-full);
  border:1pt solid var(--black-full);

  /*transition: 0.5s;*/
}
/*
.plus-reverse{
  background: var(--black-full);
  height: 30px;
  position: relative;
  width: 1.7px;
  margin:auto;
  margin-top: -1pt;
  transform: rotate(45deg);
}

.plus-reverse:after {
  background: var(--black-full);
  content: "";
  height: 2px;
  left: -14px;
  position: absolute;
  top: 14px;
  width: 29px;
}
*/
.block:hover > .blocktext > .cross-reverse{
background-color: var(--yellow-full);
}

.block:active > .blocktext > .cross-reverse{
background-color: var(--black-full);
}


.cross-reverse:hover > .plus-reverse:after{

}

.block:active > .blocktext > .cross-reverse {

}

.block:active{
  z-index: 5;
}

.cross:active{

}

.row {
  width: 99%;
  margin: auto;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0pt;

}

.row-half {
  width: 49.5%;
  margin-left: 0.5%;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0px;
}

.row-half-whole{
  width: 80%;
}

/* Create four equal columns that sits next to each other */
.column {

  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0px;
}

.column-half {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width: 50%;

}

#halfcolumn2{
  margin-top:;
}

#halfcolumn3{
  margin-top:;
}

.biggrid {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width: 50%;
}

.biggrid-half{
  -ms-flex: 100%;
  flex: 100%;
  max-width: 100%;
}

.grid{

  /*border:1pt solid var(--black-full);*/
  padding: 7.5pt;
}



.blocktext{
  background-color: var(--white-full);
  border:1pt solid var(--black-full);
  width:100%;
  margin-top: -1pt;
  font-family: "Arial Narrow", Arial, sans-serif;

  margin-bottom: -1pt;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: var(--font-size-l);
  cursor: move;
}

#random_1{
  animation: example1 4s infinite;
}

@keyframes example {
  0%   {left:0px; top:0px;}
  25%  {left:200px; top:0px;}
  50%  {left:200px; top:200px;}
  75%  {left:0px; top:200px;}
  100% {left:0px; top:0px;}
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes example1 {
  0%   {perspective: 0px;}
  50%  { perspective: 100px;}
  100% {perspective: 0px;}
}

.block{

}

.block:hover{
  z-index: 2;
  box-shadow: 2pt 2pt 0px var(--black-full);
  -moz-box-shadow: 2pt 2pt 0px var(--black-full);
  -webkit-box-shadow: 2pt 2pt 0px var(--black-full);

  /*transform: rotate(-1deg);*/
}

.block:active{
  text-decoration: ;

}

a {
  color: var(--black-full);
}

a:link{
text-decoration: none;

}

a:active{
text-decoration: none
color: var(--black-full);
}

a:visited{
color: var(--black-full);
text-decoration: none
}


@media screen and (max-width: 1200px) {
  :root {
      --font-size-xl: 50pt;
  }



}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 970px) {
  .topleft{;
    position:absolute;
    margin-left: 10px;
    margin-top: -3px;
  }

  .topright{
    position:absolute;
    margin-right: 10px;
    top: 140px;
  }

  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }

  .column-half {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .blocktext{
    font-size: var(--font-size-m);
  }


.toptext{

}

.topundertext{

}

.plus{
  transform: rotate(45deg);
}


.plus:after{
  height: 2px;
}

.plus-reverse{
  transform: rotate(0deg);

}

#clean{
  display: none;
}

#chaos{
  display: none;
}

.colorbutton{
  height: 100px;
}

.crayon{
  height: 100px;
}

}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 630px) {


  .topleft{;
    position:absolute;
    margin-left: 2px;
    margin-top: -3px;
  }

  .topright{
    position:absolute;
    margin-right: 2px;

    top: 140px;

  }

  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .column-half {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .row-half {
    width: 80%;
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }

  .row-half-whole{
    width: 100%;
  }

  .pop-up-gone{
    width: 100vw;
    border-left-style: hidden;
    top: 0px;
    left: 0px;
    border:0pt solid var(--black-full);
  }

  .toptext{
    margin-top: 7px;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 5px;
  }

  .topundertext{

  }

  .topsmall{
      top: 5px;
      right:5px;
      width: 30px;
      height:20px;
      background-color: rgba(0, 0, 0, 0);
      border: none;
  }

  .cross{
    left:0px;
    top: 0px;
  }

  .plus{
    transform: rotate(45deg);
  }

  .plus:after{
    height: 2px;
  }


  .plus-reverse{
    transform: rotate(0deg);

  }


  .blocktext{
    display: none;
  }

  .grid{
    padding: 7.5px;
  }

  #clean{
    display: none;
  }

  #chaos{
    display: none;
  }
}

@media screen and (max-width: 315px) {
  :root {
      --font-size-xl: 40pt;
  }
}
