:root {
    --font-size-l: 14pt;
    --font-size-m: 30pt;
    --font-size-xl: 60pt;
    --font-size-s: 12pt;
    --line-height1: 20pt;
    --yellow-full: rgb(255, 79, 251);
    --white-full: rgb(255, 255, 255);
    --black-full: rgb(0, 0, 0);
}

* {
  box-sizing: border-box;
}


@font-face {
  font-family: Dots;
  src: url(media/TINY5x3-160.woff2);
}

body {
  margin: 0;
  font-family: "Arial Narrow", Arial, sans-serif;
  max-width: 100vw;
  width: 100vw;
  background-color: var(--white-full);
  background-repeat: repeat;
  background-attachment: fixed;
}

.object{
  position:absolute;
  display: inline-block;
  width: 40%;
}

.background0{
  background-image: linear-gradient();
}

.background1{
  background-image: url(media/background9.png);

}

.background2{

    background-image: url(media/background5.png);
}

.background3{

  background-image: url(media/background7.png);
}

.background4{
  background-image: url(media/background3.7.png);
}

.background5{
  background-image: url(media/background2.png);
}



img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

::-webkit-scrollbar {
    display: none;
}


.footer {
  width: 100vw;
  height: auto;
  background-color: var(--yellow-full);
  border-top: 1pt solid var(--black-full);
  font-size: var(--font-size-l);
  margin-top: 100px;

  list-style-type: none;

  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;

}

.footer > .row-list > .list > a > li{
  color: var(--white-full);
  text-decoration: none;
}

.list > li > p{
  text-transform: uppercase;
  color: var(--black-full);
  margin-left: 16px;

}

.footer > .row-list > .list > a > li > i{
  float: right;
}

.list > a > li{
  color: var(--white-full);
  text-decoration: none;
  border-bottom: 1pt solid var(--white-full);
  margin-left: 16px;
  line-height: 175%;
}


.list > a{

  text-decoration: none;

}

.footer > .row-list > .list > a > li:hover{

  background-color: black
}

.list{
  margin-bottom: 50px;
  width: 49%;
}

.row-list{
  width: 50.1%;
  border-right:1pt solid var(--black-full);
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0pt;
}

.downgif{

  height: 100%;
  display: block;
  margin: auto;


}

.row-right{
 width:49.9%;
 height: 500px;
 padding: 15px;
 padding-bottom: 50px;
 padding-top: 50px;
 position: relative;
}

.textbottom{
  bottom: 50px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;


}

.textbottom > a{
  text-decoration: underline;
  color: var(--white-full);
}

.links{
  color: var(--black-full);
  width: 100%;
  position: absolute;
  font-size: var(--font-size-l);
  padding:15px;

  background-color: var(--white-full);
  text-transform: uppercase;
  border-top: 1pt solid var(--black-full);
}

.links > p{
  color: var(--black-full);
  position: absolute;
  font-size: var(--font-size-l);
  text-transform: uppercase;

    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  padding-bottom: 15px;
}

.links > a{


  position: absolute;
  font-size: var(--font-size-l);
  text-decoration: underline;
  text-transform: uppercase;
  color: var(--black-full);
  margin-right: 50px;
}

.links > a:first-of-type{
 left:52%;
}

.links > a:nth-of-type(2){
 left:73%;
}

.links > a:nth-of-type(3){
 right:-1px;
}

.links > a:hover{
  color: var(--yellow-full);
}



.header{
  width: 100%;
  height: 280px;
  margin-bottom: 10px;
/*  background-color: var(--white-full);*/
/*  border-bottom: 1pt solid var(--black-full);*/
}

.fixed{
  position: fixed;
  width: 100%;
  height: 0;
  z-index: 10;
}

.headertext {
  font-size: var(--font-size-l);
  vertical-align: text-top;
  width: 25%;
  max-width: 25%;
  padding: 0px;
  display: inline-block;
  border-bottom-style: solid;
  border-width: 1pt;
  border-color: var(--black-full);
}

.image{
  width:100%;

  margin-right: -1pt;
  vertical-align: left;
  border:1pt solid var(--black-full);
  background-color: var(--black-full);
  display: block;


}



.pop-up{
display:none;
}

.pop-up-gone{
	position:  fixed;
  top: 0px;
  overflow: scroll;
  width: 50%;
  height: 100vh;
  right: 0px;
  z-index: 4;
  background-color: rgb(0,0,0);
  border-left-style: solid;
  border-color: rgb(0,0,0);
  border-width: 1pt;
}


.topsmall{
  position:fixed;
  width: 50%;
  height: 40px;
  font-size: var(--font-size-l);
  z-index: 2;
}

.topleft{
  z-index: 4;
  top: 0px;
  position:fixed;
  vertical-align: right;
  margin-left: 15px;

  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: var(--font-size-xl);
  font-family: Dots, sans-serif;
  line-height: 40pt;

}

#click > a{
   visibility: visible;
}



.topright{
  z-index: 4;
  position:fixed;
  vertical-align: right;
  top: 0px;
  right:0px;
  width: auto;
  margin-right: 15px;
  text-align: right;

  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: var(--font-size-xl);
  font-family: Dots, sans-serif;
  line-height: 40pt;

}

.toptext > a{
  -webkit-text-stroke-width: 1.2pt;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  -webkit-text-fill-color: rgb(255, 255, 255);

}

.toptext:hover > a{
  -webkit-text-stroke-color: var(--black-full);
  -webkit-text-fill-color: var(--yellow-full);
  text-shadow: 5px 5px 0px var(--black-full);
}

.toptext > a:active{
-webkit-text-fill-color: var(--black-full);
}

#click{
  z-index: 30;
}

#settings{

}

.topundergone{
  display: none;
}

.topunder{
  background-color: var(--white-full);
  border: 1pt solid var(--black-full);

  position: fixed;
  padding: 15px;
  width: 800px;
  height: 290px;

  left: 10%;
  top: 200px;
  z-index: 10;

}

.topunder:hover{
z-index: 11;
 box-shadow: 2pt 2pt 0px var(--black-full);
 -moz-box-shadow: 2pt 2pt 0px var(--black-full);
 -webkit-box-shadow: 2pt 2pt 0px var(--black-full);

}

.topundertext{
  width: 300px;
  margin-left: 15px;
  font-size: var(--font-size-l);
  background-color: var(--white-full);
  border-bottom: 1pt solid var(--black-full);

}

#small{
  width: 22%;
  height: auto;
}

#chaos{
  width: 25%;
  height: auto;
  left: 15%;
  z-index: 6;
}

#clean{
  width: 19.5%;
  height: auto;
  left: 34.5%;
}

#sticker{
  width: 17%;
  height: auto;
  left: 53%;
}

#colorbox{
  width: 25%;
  height: auto;
  left: 70.6%;
}


#red{
  width: 3.1%;
  height: auto;
  left: 73%;
  top: 23px;
}

#yellow{
  width: 3.1%;
  height: auto;
  left: 76.5%;
  top: 23px;
}

#green{
  width: 3.1%;
  height: auto;
  left: 80%;
  top: 23px;
}

#grey{
  width: 3.1%;
  height: auto;
  left: 83.5%;
  top: 23px;
  }

#black{
  width: 3.1%;
  height: auto;
  left: 87%;
  top: 23px;
  }

#white{
  width: 3.1%;
  height: auto;
  left: 90.5%;
  top: 23px;

}

.crayon{
  padding-top: 42px;
}

.colorbutton{
  position: absolute;
  margin: auto;
}

.colorbox{
  position: absolute;
}

.allbuttons{
  position: static;
  display: run-in;

  width: 100%;
  height: 50px;
  padding: 25px;

}


.colorbutton:hover{
  margin-top: -10px;

  -webkit-filter: drop-shadow(2px 2px 5px var(--black-full););
  filter: drop-shadow(2px 2px 5px var(--black-full););

}

.blockextra{
  margin-top: -15px;

}

#settingsheader{
  margin:-16.5px;
}


.colorblocktext{
  color: var(--black-full);
  border-bottom: 1pt solid var(--black-full);
  width: 500px;
  margin: -8px;
  padding: 10px;
  font-size: var(--font-size-l);
  height: 45px;
  cursor: move;
}

.photosgone{
  visibility: hidden;
  background-color: var(--white-full);
  border: 1pt solid var(--black-full);
  overflow: scroll;
  position: fixed;

  width: 400px;
  height: 60%;

  left: 20%;
  top: 100px;
  z-index: 10;
  visibility:  hidden;
}

.photos{
  background-color: var(--white-full);
  border: 1pt solid var(--black-full);
  overflow: scroll;
  position: fixed;

  width: 400px;
  height: 60%;

  left: 20%;
  top: 75px;
  z-index: 10;
  visibility:  visible;
}

.photos:hover{
z-index: 11;
 box-shadow: 2pt 2pt 0px var(--black-full);
 -moz-box-shadow: 2pt 2pt 0px var(--black-full);
 -webkit-box-shadow: 2pt 2pt 0px var(--black-full);
}


.allphotos{
  width:100%;
  margin-right: -1pt;
  vertical-align: left;
  display: block;
  display: block;
}

.blockphoto{
  margin-top: -30px;
  margin-left: -1pt;
  width: 400px;
  position: fixed;
  display: block;
}



.photos:hover > .blockphoto{

 box-shadow: 2pt 0pt 0px var(--black-full);
 -moz-box-shadow: 2pt 0pt 0px var(--black-full);
 -webkit-box-shadow: 2pt 0pt 0px var(--black-full);
}

.cross-popup{
  position:absolute;
  top: 7px;
  right:7px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  border:1pt solid var(--black-full);
  cursor: pointer;
}

.photos:hover > .blockphoto > .blocktext > .cross-popup{
  background-color: var(--yellow-full);
}

.topunder:hover > .blockextra > .blocktext > .cross-popup{
  background-color: var(--yellow-full);
}



.project{
  display:  inline-block;
  width: 100%;
  border-bottom: 1pt solid rgb(255,255,255);
}

.text{
 width: 100%;
 height: 280px;
 color: rgb(255, 255, 255);

 padding-left: 18px;
 margin-top: 12px;
 font-size: var(--font-size-l);
 font-family: "Arial Narrow", Arial, sans-serif;
 line-height: 20px;
}

.text > p:first-of-type{
text-transform: uppercase;
text-decoration: none;
font-style: normal;
font-size: var(--font-size-l);
}

.text > p:first-of-type > i{
margin-left: 18px;
}

.text > p:nth-child(2){
margin-left: 15%;
width: 80%;
text-decoration: none;
font-style: normal;
font-size: var(--font-size-l);
}

.text2{
 display: inline-flex;

 position: relative;

 width: 400px;

 color: var(--black-full);

 padding: 25px;
 padding-bottom: 10px;

 font-size: var(--font-size-l);
 font-family: "Arial Narrow", Arial, sans-serif;
 line-height: 20px;
}

.text2 > a{
  text-decoration: underline;
  color: var(--yellow-full);
  width: 100%;
}

.text2 > p{
  padding-left: 65px;
}



.projectimage{
  position: inherit;
  width:100%;
  height:auto;
  float: left;
  border-top: 1pt solid var(--black-full);
}

.projectimagehalf{
  position: inherit;
  width:50%;
  height:auto;
  float: left;

}

.project > iframe{
  border:0pt solid var(--black-full);*/
}







.cross{
  position:absolute;
  top: 13px;
  right:15px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--white-full);
  border:1pt solid var(--black-full);
}

.plus{
  background: var(--black-full);
  height: 20px;
  position: relative;
  width: 1.5px;
  margin:auto;
  transform: rotate(45deg);
  top: 3px;
}

.plus:after {
  background: var(--black-full);
  content: "";
  height: 1.5px;

  position: absolute;
  top: 9.5px;
  left: -9px;
  width: 20px;
}

.cross:hover{
background-color: var(--yellow-full);
box-shadow: 2pt 2pt 0px var(--black-full);
-moz-box-shadow: 2pt 2pt 0px var(--black-full);
-webkit-box-shadow: 2pt 2pt 0px var(--black-full);
}

.cross:active{
background-color: var(--black-full);
}


.cross-reverse{
  position:absolute;
  top: 7px;
  right:7px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  border:1pt solid var(--black-full);
  cursor: pointer;
}

.block:hover > .blocktext > .cross-reverse{
background-color: var(--yellow-full);
}

.block:active > .blocktext > .cross-reverse{
background-color: var(--black-full);
}


.block:active{
  z-index: 5;
}

.cross:active{

}

.row {
  width: 99%;
  margin: auto;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0pt;

}

.row-half {
  width: 49.5%;
  margin-left: 0.5%;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0px;
}

.row-half-whole{
  width: 80%;
}

/* Create four equal columns that sits next to each other */
.column {

  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0px;
}

.column-half {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width: 50%;

}

#halfcolumn2{
  margin-top:;
}

#halfcolumn3{
  margin-top:;
}

.biggrid {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width: 50%;
}

.biggrid-half{
  -ms-flex: 100%;
  flex: 100%;
  max-width: 100%;
}

.grid{

  /*border:1pt solid var(--black-full);*/
  padding: 7.5pt;
}



.blocktext{
  background-color: var(--white-full);
  border:1pt solid var(--black-full);
  color: var(--black-full);
  width:100%;
  margin-top: -1pt;
  font-family: "Arial Narrow", Arial, sans-serif;

  margin-bottom: -1pt;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: var(--font-size-l);
  cursor: move;
}

#random_1{
  animation: example1 4s infinite;
}

@keyframes example {
  0%   {left:0px; top:0px;}
  25%  {left:200px; top:0px;}
  50%  {left:200px; top:200px;}
  75%  {left:0px; top:200px;}
  100% {left:0px; top:0px;}
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes example1 {
  0%   {perspective: 0px;}
  50%  { perspective: 100px;}
  100% {perspective: 0px;}
}

.block{

}

.block:hover{
  z-index: 2;
  box-shadow: 2pt 2pt 0px var(--black-full);
  -moz-box-shadow: 2pt 2pt 0px var(--black-full);
  -webkit-box-shadow: 2pt 2pt 0px var(--black-full);

  /*transform: rotate(-1deg);*/
}

.block:active{
  text-decoration: ;

}

.column > a, .column-half > a, .biggrid > a, .biggrid-half > a{
  color: var(--black-full);
  text-decoration: none;
}

.column > a:link, .column-half > a:link, .biggrid > a:link, .biggrid-half > a:link{
text-decoration: none;

}

.column > a:active, .column-half > a:active, .biggrid > a:active, .biggrid-half > a:active{
text-decoration: none
color: var(--black-full);
}

.column > a:visited, .column-half > a:visited, .biggrid > a:visited, .biggrid-half > a:visited{
color: var(--black-full);
text-decoration: none
}

.toptext > a{
  text-decoration: none
}

.mydot {
  width: 18px;
  height: 18px;
  position: absolute;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  background-color: var(--black-full);
  border: 1pt solid black;
  z-index: -1;
  pointer-events: none;
  position:absolute;
  /* background-image: url(media/barst.png);
  background-size: cover; */
}

.mydot:hover{
  background-color: var(--yellow-full);
}


@media screen and (max-width: 1150px) {
  :root {
      --font-size-l: 12pt;
  }

  #click > a{
     visibility: hidden;
  }

  #click > a:after{
     content:'mika';
     visibility: visible;
     display: block;
    position: fixed;
    top:0px;
  }




}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 970px) {

  

  .topleft{
    margin-left: 2px;
    margin-top: -3px;

  }

  .topright{
    margin-right: 2px;

  }

  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .column-half {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .row-half {
    width: 80%;
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }

  .row-half-whole{
    width: 100%;
  }

  .pop-up-gone{
    width: 100vw;
    border-left-style: hidden;
    top: 0px;
    left: 0px;
    border:0pt solid var(--black-full);
  }

  .toptext{
    margin-top: 7px;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 5px;
  }

  .topunder{
    width: 300px;
    height: 560px;
    top:100px;
    left: 100px;
  }

  #small{
    width: 56%;
    height: auto;
    left: 5%;
    z-index: 20;
  }


  #sticker{
    width: 45%;
    height: auto;
    right: 8%;
  }

  #colorbox{
    width: 88%;
    height: auto;
    left: 6%;
    top:260px;
  }

  #red{
    width: 10%;
    height: auto;
    left: 15%;
    top:280px;
;
  }

  #yellow{
    width: 10%;
    height: auto;
    left: 27%;
    top:280px; }

  #green{
    width: 10%;
    height: auto;
    left: 39%;
    top:280px;
  }

  #grey{
    width: 10%;
    height: auto;
    left: 51%;
    top:280px;
    }

  #black{
    width: 10%;
    height: auto;
    left: 63%;
    top:280px;
    }

  #white{
    width: 10%;
    height: auto;
    left: 75%;
    top:280px;

  }

  .crayon{
    padding-top: 0px;
  }



  #chaos{
    display: none;
  }

  #clean{
    display: none;
  }

  .topsmall{
      top: 0px;
      right:0px;
      width: 0px;
      height:0px;
      background-color: rgba(0, 0, 0, 0);
      border: none;
      position: fixed;
  }

  .grid{
    padding: 7.5px;
  }


  .row-list{
    width: 100%;
  border-right: 0px;
  padding-right: 15px;
  }

  .list{
    width:100%;
  }

  .row-right{
    width: 100%;
    height:auto;
  }

  .downgif{
    width: 100%;
    height:auto;
  }

  .links > p{
    display: none;
  }

  .links > a{
    padding-bottom: 15px;
    display:block;
    position: relative;
    margin-left: 0px;
    margin-right: 0;
    text-align: center;
  }

  .links > a:first-of-type{
   left:0%;
  }

  .links > a:nth-of-type(2){
   left:0%;
  }

  .links > a:nth-of-type(3){
   left:0px;
  }




}

@media screen and (max-width: 600px) {
  #settings{

  }

  .topleft{;
    position:absolute;

  }

  .topright{
    position:absolute;
    top: 140px;

}

@media screen and (max-width: 315px) {
  :root {
      --font-size-xl: 40pt;
  }
}
