:root {
    --font-size-l: 14pt;
    --font-size-m: 16px;
    --font-size-s: 12px;
    --line-height: 1.15pt;
    --yellow-full: rgb(255, 255, 0);
    --white-full: rgb(236, 236, 236);
    --black-full: rgb(33, 27, 24);
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: ArialNarrow;
  src: url(media/ARIALN.TTF);
}

body {
  margin: 0;
  padding: 0;
  font-family: ArialNarrow;
  max-width: 100vw;
  background-color: var(--white-full);
  cursor: url(pointer.png), auto;
  background-image: url(background.png);
  background-repeat: repeat;
  background-attachment: fixed;
}

img{
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

.footer {
  width: 100vw;
  height: 160px;
  background-color: var(--white-full);
  border-top: 1pt solid var(--black-full);
  margin-top: 30px;
  position: relative;
}

.header{
  width: 100%;
  height: 320px;
  margin-bottom: 40px;
}

.headertext {
  font-size: var(--font-size-l);
  vertical-align: text-top;
  width: 25%;
  max-width: 25%;
  padding: 0px;
  display: inline-block;
}

.image{
  width:100%;
  margin-left: -1pt;
  margin-right: -1pt;
  vertical-align: left;
  border:1pt solid var(--black-full);
  background-color: var(--black-full);
  display: block;
}

.pop-up{
display:none;
}

.pop-up-gone{
	position:  fixed;
  top: 0px;
  overflow: scroll;
  width: 50%;
  height: 100vh;
  right: 0px;
  z-index: 2;
  background-color: var(--black-full);
  border-left-style: solid;
  border-color: var(--black-full);
  border-width: 1pt;
  /*scroll-behavior: smooth;*/

}

.topsmall{
  position:fixed;
  width: 50%;
  background-color: var(--white-full);
  border-bottom-style: solid;
  border-width: 1pt;
  border-color: var(--black-full);
  height: 40px;
  font-size: var(--font-size-l);
  z-index: 2;
}

.top{
  top: 0px;
  position:fixed;
  width: 100%;
  background-color: var(--white-full);
  border-bottom-style: solid;
  border-color: var(--black-full);
  border-width: 1pt;
  height: 40px;
  font-size: var(--font-size-l);
  z-index: 2;
  transition: 0.5s;
}

.toptext{
  display: inline-block;
  width: 300px;
  background-color: var(--white-full);
  margin-top: 15px;
  margin-left: 15px;
}

.topunder{
 position:absolute;
 top:40px;
 width: 100%;
 background-color: var(--white-full);
 border-bottom-style: solid;
 border-width: 1pt;
 border-color: var(--black-full);
 height: 300px;
}

.topundertext{
  display: inline-block;
  width: 300px;
  margin-left: 15px;
  font-size: var(--font-size-l);
  background-color: var(--white-full);
}

.top:hover + .topunder {
  position: fixed;
  z-index: 2;
}

.topunder:hover {
  position: fixed;
  z-index: 2;
}


.button{
  display: inline-block;
  right: 10px;
  width: 135px;
  padding:10px;
  margin-left: 150px;
  font-size: var(--font-size-l);
  color: var(--black-full);
  background-color: var(--white-full);
  border:1pt solid var(--black-full);
}

.cross{
  position:absolute;
  top: 5px;
  right:5px;
  height: 30px;
  width: 30px;
  background-color: var(--white-full);
  border:1pt solid var(--black-full);
  z-index: 5;
  transition: 0.5s;
}

.plus{
  background: var(--black-full);
  height: 30px;
  position: relative;
  width: 1.5px;
  margin:auto;
  margin-top: -1pt;
}

.plus:after {
  background: var(--black-full);
  content: "";
  height: 1.5px;
  left: -14px;
  position: absolute;
  top: 14px;
  width: 29px;
}

.cross:hover > .plus{
  transform: rotate(45deg);
  transition: 0.5s;

}

.cross:hover > .plus:after{
  height: 2px;

}

.cross-reverse{
  position:absolute;
  top: 7.5px;
  right:7.5px;
  height: 30px;
  width: 30px;
  background-color: var(--white-full);
  border:1pt solid var(--black-full);
  cursor: url(pointer.png), auto;
  transition: 0.5s;
}

.plus-reverse{
  background: var(--black-full);
  height: 30px;
  position: relative;
  width: 1.7px;
  margin:auto;
  margin-top: -1pt;
  transform: rotate(45deg);
}

.plus-reverse:after {
  background: var(--black-full);
  content: "";
  height: 2px;
  left: -14px;
  position: absolute;
  top: 14px;
  width: 29px;
}

.cross-reverse:hover > .plus-reverse{
  transform: rotate(0deg);
  transition:  all 0.5s ease;
}

.cross-reverse:hover > .plus-reverse:after{
  height: 1.7px;
}

.block:active > .blocktext > .cross-reverse {
  background: var(--yellow-full);
  border:1pt solid var(--black-full);
  transition: 0s;
}

.cross:active{
  background: var(--yellow-full);
}

.row {
  width: 95%;
  margin: auto;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0pt;

}

.row-half {
  width: 47.5%;
  margin-left: 2.5%;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0px;
}

/* Create four equal columns that sits next to each other */
.column {

  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0px;
}

.column-half {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width: 50%;

}

.grid{

  /*border:1pt solid var(--black-full);*/
  padding: 10px;
}

.style1{
  left: -100px;
}

.style2{
  left: -100px;
  top: -100px;
}

.style3{
  top: -100px;
}

.style4{
  top: -100px;
  left: 100px;
}

.style5{
  left: 100px;
}

.style5{
  left: 100px;
  top: 100px;
}

.style6{
  top: 100px;
}

.style6{
  left: -100px;
  top: 100px;
}



.blocktext{
  background-color: var(--white-full);
  border:1pt solid var(--black-full);
  width:100%;
  margin: -1pt;
  padding: 10px;
  font-size: var(--font-size-l);
  height: 45px;
  cursor: url(movecursor.png) 35 35, auto;
}

#random_1{
  animation: example1 4s infinite;
}

@keyframes example {
  0%   {left:0px; top:0px;}
  25%  {left:200px; top:0px;}
  50%  {left:200px; top:200px;}
  75%  {left:0px; top:200px;}
  100% {left:0px; top:0px;}
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes example1 {
  0%   {perspective: 0px;}
  50%  { perspective: 100px;}
  100% {perspective: 0px;}
}

.block:hover > .blocktext{

}

.block:active{
  text-decoration: line-through;

}

a {
  color: var(--black-full);
}

a:link{
text-decoration: none;
cursor: url(pointer.png), auto;
}

a:active{
text-decoration: none
color: var(--black-full);
}

a:visited{
color: var(--black-full);
text-decoration: none
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }

  .column-half {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }


.toptext{
      width: 25%;
}

.topundertext{
      width: 25%;
}

.plus{
  transform: rotate(45deg);
}


.plus:after{
  height: 2px;
}

.plus-reverse{
  transform: rotate(0deg);

}

}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .column-half {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .row-half {
    width: 100%;
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }

  .pop-up-gone{
    width: 100vw;
    border-left-style: hidden;
    top:40px;
    left: 0px;
    border:0pt solid var(--black-full);
  }

  .toptext{
    width: 40%;
  }

  .topundertext{
    width: 40%;
  }

  .topsmall{
      top:45px;
      right:5px;
      width: 30px;
      height:20px;
      border
  }

  .cross{
    left:0px;
    top: 0px;
  }

  .plus{
    transform: rotate(45deg);
  }

  .plus:after{
    height: 2px;
  }

  .plus-reverse{
    transform: rotate(0deg);

  }
}
